*,
*::before,
*::after {
    box-sizing: border-box;
    user-select: none;
}

:root {
    --nav-clr: #00008b;
    --home--clr: #389cb7;
    --bkg-clr: #b1cbd4;
    --header-clr: #2c6676;
    --hover-clr: #ff6945;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: var(--bkg-clr);
    font-family: Comic Sans MS, serif;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--nav-clr);
    position: fixed;
    top: 0;
    width: 100%;
}

.menu__list {
    float: left;
}

.menu__list a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu__list a:hover:not(.active) {
    background-color: var(--hover-clr);
}

.active {
    background-color: var(--home--clr);
}
