*,
*::before,
*::after {
    box-sizing: border-box;
    user-select: none;
}

:root {
    --nav-clr: #00008b;
    --home--clr: #389cb7;
    --bkg-clr: #b1cbd4;
    --header-clr: #de005e;
    --hover-clr: #ff6945;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: var(--bkg-clr);
    font-family: Comic Sans MS, serif;
}

header {
    background-color: var(--nav-clr);
    padding: 1em 0;
}

.home {
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 1em;
    color: var(--header-clr);
    text-decoration: none;
}

.home:hover {
    color: white;
}

.nav {
    display: flex;
    text-decoration: none;
    align-items: center;
}

.nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.nav__item {
    margin-left: 2em;
}

.nav__link {
    color: white;
    text-decoration: none;
}

.nav__link:hover {
    color: var(--hover-clr);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instruction {
    border: 4px solid black;
    width: 40%;
    font-weight: bold;
    position: relative;
}

.canvas {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Individual Styles */

/* Index */
.games {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.games__list {
    text-align: left;
    font-size: 2rem;
    width: 50%;
}

/* Blob */
.blob {
    border: 4px solid Chartreuse;
}

.colors {
    display: inline-block;
    word-spacing: 1rem;
    border: 4px solid black;
}

/* Snake */
.snake {
    border: 4px solid blue;
}

/* Target */
.target {
    border: 4px solid black;
}

/* Pong */
.pong {
    border: 4px solid white;
}