.main {
    margin-top: 5vh;
    display: flex;
    min-height: 5vh;
    flex-direction: column;
    align-items: center;
}

.instruction {
    border: 4px solid black;
    width: 40%;
    font-weight: bold;
    position: relative;
}

.canvas {
    display: flex;
    align-items: center;
    justify-content: center;
}

#gameArea {
    border: 4px solid blue;
}
