*,
*::before,
*::after {
    box-sizing: border-box;
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: DarkBlue;
    position: fixed;
    top: 0;
    width: 100%;
}

.menu__list {
    float: left;
}

.menu__list a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu__list a:hover:not(.active) {
    background-color: darkorange;
}

.active {
    background-color: red;
}

.games {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

.games__list {
    font-size: 2rem;
}
